<div class="product-images small-4 large-4 columns">
    <p>Style: {{product.productId}}</p>
    <div class="main-product">
        <img class="primary-image" src="{{url}}{{product.colors.[0].id}}_{{product.colors.[0].viewCode.[0]}}" />
    </div>
    <ul class="thumbnails">
        {{#each thumbnails}}
        <li class="thumbnails--thumbs">
            <img
            class="image {{#if @first}}selected{{/if}}"
            data-view-code="{{this}}"
            src="{{../url}}{{../product.colors.[0].id}}_{{this}}?$detail-alt$" />
        </li>
        {{/each}}
    </ul>
</div>