<div class="product-images" data-product-images>
    <div class="main-product">
        <img src="{{url}}{{product.colors.[0].id}}_{{product.colors.[0].viewCode.[0]}}" />
    </div>
    <ul class="thumbnails">
        {{#each product.colors}}
        <li>
            <img
            class="image"
            data-view-code="{{lookup viewCode @index}}"
            src="{{../url}}{{../product.colors.[0].id}}_{{lookup viewCode @index}}?$detailthumb$" />
        </li>
        {{/each}}
    </ul>
</div>